extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= "Звіт станцій, на які доставлено менше 30% потреб"
  form(id='add-form' name='add-form' class='form-inline' method='POST')
    br
    hr
    div.list-wrapper
      table(id='shop-list')
        each val, index in SpaceStations
            tr
                td= index
                td='Номер:' + val.number
                td='Місткість:' + val.capacity
                td='Потреба:' + val.need
  br
block append scripts
  script(src='/static/js/models/shop.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/shop.js')
